{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
  <h1 class="bg-blue-500 text-2xl text-center font-bold">Testing Assets</h1>

  <img src="{{ asset('build/images/hummingbird.4e66765c.jpg') }}" alt="">
{% endblock %}